# Stages for deployment
stages:
  - stage: "Build"
    displayName: "Build Stage"
    variables:
      - group: privia-extension-release # Common release variables
    jobs:
      - job: "Build"
        pool:
          vmImage: "windows-latest"
        steps:
          - task: DownloadSecureFile@1
            name: "ExtensionKey"
            displayName: "Download - Signing Key"
            inputs:
              secureFile: privia-extension.pem

          - script: '"C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe" --pack-extension=$(Build.SourcesDirectory) --pack-extension-key=$(ExtensionKey.secureFilePath)'
            displayName: "Chrome - Package Extension"

          - task: CopyFiles@2
            displayName: "Copy Extension Files to: $(Build.ArtifactStagingDirectory)"
            inputs:
              SourceFolder: "$(Pipeline.Workspace)"
              Contents: |
                *.crx
              TargetFolder: "$(Build.ArtifactStagingDirectory)"

          - task: PublishBuildArtifacts@1
            displayName: "Publish Artifacts"
            inputs:
              PathtoPublish: "$(Build.ArtifactStagingDirectory)"
              ArtifactName: "privia-extension"
