# Trigger pipeline on master commit
trigger:
  branches:
    include:
      - main

# Disable PR triggers
pr: none

name: "1.$(Date:yyyyMMdd).$(Rev:r)"

# Pipeline stages
stages:
  # Build all components and publish artifacts
  - template: templates/build.yml
